*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:slategrey
}

header{
    height:100px;
    width:100%;
    background-color: white;
}

.container-header{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid white;
    margin: 100px auto;
}

.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: turquoise;
}